{% extends 'base.html.twig' %}
{% block css %} <link rel="stylesheet" href="{{asset ('../css/panier.css ')}}" />{% endblock %} 


{% block title %}Panier | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono{% endblock %}

{% block body %}
    <div class=" test d-flex justify-content-between flex-column  my-5  " >
    <table class="table ">
        <h1 class=" test my-5 text-center ">Mon Panier</h1>
        <thead>
            <tr class= " justify-content-center">
                <th scope="col" >Article</th>
                <th scope="col" ></th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for element in dataPanier %}
                <tr>
                    <th scope="row">{{element.article.article}}</th>
                    <td><img src="{{ vich_uploader_asset( element.article , 'imageFile' ) }}" style="width : 60px"class="card-img-top" alt=" Image des articles | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono"></td>
                    <td>{{element.article.prix}}€</td>
                    <td>{{element.quantite}}</td>
                    <td>{{element.quantite *  element.article.prix}}€</td>
                    <td>
                        <a class="btn btn-light btn-sm" id="plus"   href="{{path ('panier_ajout', {id : element.article.id})}}">+</a>
                        <a class="btn btnd-light btn-sm" id="minus"   href="{{path ('panier_retirer', {id : element.article.id})}}">-</a>
                        <a class="btn btnd-light btn-sm" href="{{path ('panier_supprimer', {id : element.article.id})}}">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center" id="cart_empty"><h3>Votre panier est vide</h3></td>
                <tr>
            {% endfor %}
        </tbody>
        <tfoot>
                <tr>
                    <td colspan="4">Total</td>
                    <td colspan="text-end" name="prix" id="prix">{{total}}€</td>
                    <td> 
                        <a class="btn btn-light  btn-sm" href="{{path ('panier_vider')}}">vider</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td colspan="text-end"></td>
                    <td> 
                        <a href="{{ path ('livraison')}}" id="cart_valid" class="btn btn-light  btn-sm"  >Valider votre panier</a>
                    </td>
                </tr>
        </tfoot>
    </table>

    <div class="d-flex justify-content-evenly my-5">
        <article class="d-flex align-items-center my-5">
            <p class="pt-3 picto"><i class="fas fa-truck fa-2x ml-5"></i></p>
            <span >LIVRAISON GRATUITE<br>DES 72H EN BOUTIQUE</span>
        </article>
        <article class="d-flex align-items-center" >
            <p class="pt-3 picto"><i class="fas fa-user-lock fa-2x"></i></p>
            <span>PAIEMENT SÉCURISÉ<br>PAR CB OU PAYPAL</span>
        </article>

        <article class="d-flex align-items-center" >
            <p class="pt-3 picto"><i class="fas fa-sync-alt fa-2x"></i></p>
            <span>RETOUR GRATUIT<br>PENDANT 60 JOURS</span>
        </article>
    </div>
</div>



{% endblock %}


