{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-column  my-5  ">
    <table class="table">
        <h1 class="my-5 text-center">Mon Panier</h1>
        <thead>
            <tr >
                <th scope="col">Article</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for element in dataPanier %}
                <tr>
                    <th scope="row">{{element.article.article}}</th>
                    <td>{{element.article.prix}}€</td>
                    <td>{{element.quantite}}</td>
                    <td>{{element.quantite *  element.article.prix}}€</td>
                    <td>
                        <a class="btn btn btn-outline-success btn-sm" href="{{path ('panier_ajout', {id : element.article.id})}}">Ajouter</a>
                        <a class="btn btn btn-outline-warning btn-sm" href="{{path ('panier_retirer', {id : element.article.id})}}">Retirer</a>
                        <a class="btn btn btn-outline-danger btn-sm" href="{{path ('panier_supprimer', {id : element.article.id})}}">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center"><h3>Votre panier est vide</h3></td>
                <tr>
            {% endfor %}
        </tbody>
        <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <td colspan="text-end" name="prix" id="prix">{{total}}€</td>
                    <td> 
                        <a class="btn btn btn-outline-danger btn-sm" href="{{path ('panier_vider')}}">vider</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="text-end"></td>
                    <td> 
                        <a href="{{ path ('livraison')}}" class="btn btn btn-outline-primary btn-sm" >Valider votre panier</a>
                    </td>
                </tr>
        </tfoot>
    </table>

    <div class="d-flex justify-content-evenly my-5">
        <article class="d-flex align-items-center my-5">
            <p class="pt-3"><i class="fas fa-truck fa-2x ml-5"></i></p>
            <span >LIVRAISON GRATUITE<br>DES 72H EN BOUTIQUE</span>
        </article>
        <article class="d-flex align-items-center" >
            <p class="pt-3"><i class="fas fa-user-lock fa-2x"></i></p>
            <span>PAIEMENT SÉCURISÉ<br>PAR CB OU PAYPAL</span>
        </article>

        <article class="d-flex align-items-center" >
            <p class="pt-3"><i class="fas fa-sync-alt fa-2x"></i></p>
            <span>RETOUR GRATUIT<br>PENDANT 60 JOURS</span>
        </article>
    </div>
</div>



{% endblock %}


