{% extends 'base.html.twig' %}
{% block css %} <link rel="stylesheet" href="{{asset ('../css/panier.css ')}}" />{% endblock %} 


{% block title %}Panier | La Maison de Laine{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-column my-5">
        <table class="table">
            <h1 class="my-5 text-center">Mon Panier</h1>
            <thead>
                <tr class="justify-content-center">
                    <th scope="col" class="text-start">Article</th>
                    <th scope="col" class="text-center">Prix</th>
                    <th scope="col" class=" text-center">Quantité</th>
                    <th scope="col" class="text-center">Total</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for element in dataPanier %}
                    <tr>
                        <td class="ps-0 text-center" style="width : 1rem"><img src="{{ vich_uploader_asset(element.article, 'imageFile')}}" style="width : 6rem ; height: 6rem ; " class="card-img-top mt-2" alt="Image des articles | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono">{{element.article.article}}</td>
                        <td class="py-5 text-center">{{element.article.prix}}€</td>
                        <td class="py-5 text-center">{{element.quantite}}</td>
                        <td class="py-5 text-center">{{element.quantite * element.article.prix}}€</td>
                        <td class="py-5">
                            <a class="btn btn-light btn-sm" id="plus" href="{{path ('panier_ajout', {id : element.article.id})}}">+</a>
                            <a class="btn btn-light btn-sm align-items-center" id="minus" href="{{path ('panier_retirer', {id : element.article.id})}}">-</a>
                            <a class="btn btn-light btn-sm" id="del" href="{{path ('panier_supprimer', {id : element.article.id})}}">x</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center" id="cart_empty"><h3>Votre panier est vide</h3></td>
                    <tr>
                {% endfor %}
            </tbody>
            {% if total > 0 %}
                <tfoot>
                    <tr>
                        <td colspan="3" id="tot">Total</td>
                        <td class="text-center" name="prix" id="prix">{{total}}€</td>
                        <td> 
                            <a class="btn btn-light btn-sm" href="{{path ('panier_vider')}}">Vider</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="text-end"></td>
                        <td> 
                            <a href="{{path ('adresse')}}" id="cart_valid" class="btn btn-light btn-sm button">Valider votre panier</a>
                        </td>
                    </tr>
                </tfoot>
            {% endif %}
        </table>

        <div class="row col-12 d-flex justify-content-center my-5">
            <article class="d-flex justify-content-center col-xxl-4 col-12 col-lg-4 col-md-4  align-items-center my-5">
            <i class="fas fa-truck fa-2x ml-5 picto"></i>
                <span>LIVRAISON GRATUITE<br>DES 72H EN BOUTIQUE</span>
            </article>
            <article class="d-flex justify-content-center col-xxl-4 col-12 col-lg-4 col-md-4 my-5 align-items-center">
                <i class="picto fas fa-user-lock fa-2x"></i>
                <span>PAIEMENT SÉCURISÉ<br>PAR CB OU PAYPAL</span>
            </article>
            <article class="justify-content-center my-5 col-xxl-4 col-12 col-lg-4 col-md-4 d-flex align-items-center">
                <i class=" picto fas fa-sync-alt fa-2x"></i>
                <span>RETOUR GRATUIT<br>PENDANT 60 JOURS</span>
            </article>
        </div>
    </div>
{% endblock %}