{% extends 'base.html.twig' %}
{% block css %} <link rel="stylesheet" href="{{asset ('../css/contact.css')}}"/>{% endblock %} 
{% block title %}Connectez-vous! | La Maison de Laine{% endblock %}

{% block body %}
    <div class="row m-0">
        <h1 class="text-center my-5">Connectez-vous !</h1>
        {% if error %}
            <div class="alert alert-danger">{{error.messageKey|trans(error.messageData, 'security')}}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{path ('app_logout')}}">Déconnexion</a>
            </div>
        {% endif %}
        <div class="d-flex mb-5 justify-content-center justify-content-xxl-between justify-content-xl-between">
            <img src="{{ asset ('images/la_maison_de_laine_lets_go_pexels-sevenstorm-juhaszimrus-704767.jpg')}}" alt="Images Connexion | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono" class="shadow p-0 rounded-3 col-xl-5 col-sm-6 col-12 d-none d-md-none d-xl-block d-xxl-block"  style="height : 500px ; width : 40%">
            <div class="d-flex flex-column col-xl-6 col-md-9 col-12">
                <form method="post">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" value="{{csrf_token ('authenticate')}}">
                    <div class="d-flex justify-content-end my-4">
                        <button class="btn btn-lg btn-light" type="submit">Connexion</button>
                    </div>
                    <p class="d-flex justify-content-end">
                        <a href="{{ path ('app_forgot_password_request')}}">Mot de passe oublié</a>
                    </p>
                </form>
            </div>
        </div> 
    </div>
{% endblock %}