{% extends 'base.html.twig' %}
{% form_theme editPassForm 'bootstrap_5_layout.html.twig' %}


{% block title %} Modification de votre Profil de {{app.user.firstName}} {{app.user.name|upper}}{% endblock %}

{% block body %}
    <h1 class="text-center mt-4"> Modification de votre profil </h1>
    <div class="d-flex justify-content-evenly pb-5">
        <img src="{{asset ('images/time-for-change-pexels-alexas-fotos-2277784.jpg')}}" alt=""  class="rounded-3 mt-5 col-3"  style="height : 500px ; width : 40%">
    
        <div class="mt-5 col-4">
            {{form_start(editPassForm)}}
                {{form_row(editPassForm.plainPassword)}}
                <div class="d-flex justify-content-end">
                    <button class="btn  btn-outline-dark">valider</button>
                </div>
             {{form_end(editPassForm)}}
    </div>
</div>





{% endblock %}
{% block footer %}
    {# Footer  #}
    <footer class="mt-5">
    <article id="icon">
      <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
      <a href="#"><i class="fab fa-instagram-square fa-2x"></i></a>
      <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
    </article>
    <article class="mb-3">
        <a  href="#"  id="copyright"> Copyright © 2021 </a> <span class="pipe"> |</span> 
        <a  id="copyright" href="#"> La Maison de Laine</a>  <span class="pipe"> |</span> 
        <a href="{{path ('mentions_legales')}}"  id="copyright"> Mentions Légales</a>  
    </article>
    </footer>
    {# END Footer  #}
{% endblock %}