{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
 {% block css %} <link rel="stylesheet" href="{{asset ('../css/register.css ')}}" />{% endblock %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="text-center mt-4">Inscription</h1>

    <div class="d-flex justify-content-evenly my-5 ">
        <img src="{{ asset ('images/register-pexels-amina-filkins-5414061.jpg')}}" class="rounded-3  col-3"  style="height : 500px ; width : 40%">
        <div style="width : 50%" > 
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password.first) }}
                 {{ form_row(registrationForm.password.second) }}
            <div class="d-flex justify-content-end">
                    <button type="submit" class="btn border-dark">Enregistrer</button>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
{% block footer %}
    {# Footer  #}
    <footer class="f">
    <article id="icon">
      <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
      <a href="#"><i class="fab fa-instagram-square fa-2x"></i></a>
      <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
    </article>
    <article class="mb-3">
            <a  href="#"  id="copyright"> Copyright © 2021 </a> <span class="pipe"> |</span> 
            <a  id="copyright" href="#"> La Maison de Laine</a>  <span class="pipe"> |</span> 
            <a href="{{path ('mentions_legales')}}"  id="copyright"> Mentions Légales</a>  
    </footer>
    {# END Footer  #}
{% endblock %}

