{% extends 'base.html.twig' %}
{% form_theme adresse_form 'bootstrap_5_layout.html.twig' %}
{% block css %} <link rel="stylesheet" href="{{asset ('../css/livraison.css ')}}" />{% endblock %} 

{% block title %} Livraison | La Maison de Laine{% endblock %}

{% block body %}
    <div class="my-5 d-flex justify-content-center " >
        <section class="col-11 col-md-10 col-xxl-6 col-xl-6 rounded-3 mx-1 d-flex flex-column  livraison_box " >
            <h1 class="my-5 text-center">Adresse de livraison</h1>
            <div class=" d-flex align-items-center  justify-content-center flex-column">
                {% if app.user %}
                    {{form_start(adresse_form,  {'attr' : {'style' : 'width : 70%'}})}}
                        {{form_row(adresse_form.nom,
                            {'attr' : 
                                {'style' : 'width : 100%'}, 
                                'value' : app.user.name 
                            }
                        )}}
                        {{form_row(adresse_form.prenom,
                            {'attr' : 
                                {'style' : 'width : 100%'}, 
                                'value' : app.user.firstname 
                            }
                        )}}
                        {{form_row(adresse_form.adresse,
                            {'attr' : 
                                {'style' : 'width : 100%'}, 
                                'value' : app.user.ad 
                            }
                        )}}
                        {{form_row(adresse_form.cp,
                            {'attr' : 
                                {'style' : 'width : 100%'}, 
                                'value' : app.user.cp
                            }
                        )}}
                        {{form_row(adresse_form.ville,
                            {'attr' : 
                                {'style' : 'width : 100%'}, 
                                'value' : app.user.ville 
                            }
                        )}}
                        {{form_row(adresse_form.tel,
                            {'attr' : 
                                {'style' : 'width : 100%'}, 
                                'value' : app.user.tel 
                            }
                        )}}
                        {{form_row(adresse_form.email,
                            {'attr' : 
                                {'style' : 'width : 100%'}, 
                                'value' : app.user.email 
                            }
                        )}}
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-light btn-sm mb-4">Valider</button>
                        </div> 
                    {{form_end(adresse_form)}}
                {% else %}
                    {{form_start(adresse_form,  {'attr' : {'style' : 'width : 70%'}})}}
                        {{form_row(adresse_form.nom,{'attr' : {'style' : 'width : 100%'}})}}
                        {{form_row(adresse_form.prenom)}}
                        {{form_row(adresse_form.adresse)}}
                        {{form_row(adresse_form.cp)}}
                        {{form_row(adresse_form.ville)}}
                        {{form_row(adresse_form.tel)}}
                        {{form_row(adresse_form.email)}}
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-light btn-sm mb-4">Valider</button>
                        </div> 
                    {{form_end(adresse_form)}}
                {% endif %}
            <div>
        </section>
    </div>
{% endblock %}
{% block footer %}
    <div class="container-fluid p-0 m-0 col-12">
        <footer class="col-12 p-0">
            <article id="icon">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram-square fa-2x"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x"></i></a>
            </article>
            <article class="mb-3 d-flex">
                <a class="text-center m-2" href="#" id="copyright">Copyright © 2021</a><span class="pipe mt-4">|</span> 
                <a  class="text-center m-2" id="copyright" href="#">La Maison de Laine</a><span class="pipe mt-4">|</span> 
                <a class="text-center m-2" href="{{path ('mentions_legales')}}" id="copyright">Mentions Légales</a> <span class="pipe mt-4">|</span>
                <a class="text-center m-2" href="{{path ('ccv')}}" id="copyright">CCV</a>  
            </article>
        </footer>
    </div>
{% endblock %}