{% extends 'base.html.twig' %}
{% form_theme requestForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Réinitialiser votre mot de passe | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono{% endblock %}

{% block body %}
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger mt-5" role="alert">{{ flashError }}</div>
        {% endfor %}
<div class="d-flex justify-content-evenly my-5">
    <img class="mt-5" src="{{asset("images/opps_418Jmnejj8L._AC_.jpg")}}" alt=" Image Réinitialisation de mot de passe | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono">
    <div class="mt-5">
        <h1>Réinitialiser votre mot de passe</h1>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Entrer votre email
                </small>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn border border-dark">Réinitialiser</button>
            </div>
        {{ form_end(requestForm) }}
    </div>
</div>

{% endblock %}
{% block footer %}
    {# Footer  #}
    <footer class="fixed-bottom">
        <article id="icon">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x"></i></a>
        </article>
        <article class="mb-3">
            <a  href="#"  id="copyright"> Copyright © 2021 </a> <span class="pipe"> |</span> 
            <a  id="copyright" href="#"> La Maison de Laine</a>  <span class="pipe"> |</span> 
            <a href="{{path ('mentions_legales')}}"  id="copyright"> Mentions Légales</a>  
        </article>
    </footer>
    {# END Footer  #}
{% endblock %}
