{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono{% endblock %}

{% block body %}
    <div class="table-responsive d-flex justify-content-between flex-column my-5">
        <table class="table">
            <h1 class="text-center my-5">Liste des utilisateurs</h1>
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Tél</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Code Postal</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status email</th>
                    <th scope="col">Action</th>
                    <th scope="col">Création</th>
                </tr>
            </thead>
            <tbody>
                {% for list in users %}
                    <tr>
                        {% if list.roles[0] == "ROLE_USER" %}
                            <td>{{list.name}}</td>
                            <td>{{list.firstname}}</td>
                            <td>{{list.tel}}</td>
                            <td>{{list.ad}}</td>
                            <td>{{list.cp}}</td>
                            <td>{{list.ville}}</td>
                            <td>{{list.email}}</td>

                            {% set now = date(list.createdAt) %}

                            {% if list.isverified == 0 and now > date('-2hours') %}
                                <td>en attente</td>
                            {% elseif list.isverified == 0 and now < date('-2hours') %}
                                <td>A supprimer</td>
                            {% else %}
                                <td>Vérifié</td>
                            {% endif %}

                            {% if list.isverified == 0 and now > date('-2hours') %}
                                <td>
                                    <a href="{{path ('admin_modifier_user', {id : list.id})}}?csrf={{csrf_token('update' ~ list.id)}}" class="btn btn-light btn-sm">Modifier</a>
                                </td>
                            {% elseif list.isverified == 0 and now < date('-2hours') %}
                                <td>
                                    <a href="{{path ('admin_delete_user', {id : list.id})}}?csrf={{csrf_token('delete' ~ list.id)}}" onclick ="return confirm('Etes-vous sûr de vouloir supprimer ce utilisateur ?')" class="btn-sm btn btn-light">Supprimer</a>
                                </td>
                            {% else %}
                                <td>
                                    <a href="{{path ('admin_modifier_user', {id : list.id})}}?csrf={{csrf_token('update' ~ list.id)}}" class="btn btn-light btn-sm">Modifier</a>
                                </td>
                            {% endif %}
                            <td>{{list.createdAt|date('d/m/Y à H:i:s')}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}