{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
<h1 class="text-center my-5">Liste des catégories</h1>
{{dump(categoriesList)}}
<div class="d-flex justify-content-end my-5">
    <a href="{{path ('categories_ajout')}}"  class="btn btn-light border border-dark" >Ajouter une catégorie</a>
</div>

{% for add in app.flashes('categoriesAjout') %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Félicitations </strong>{{ add }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
{% endfor %}
{% for edit in app.flashes('categoriesEdit') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Félicitations </strong>{{ edit }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
{% endfor %}
{% for delete in app.flashes('categoriesDelete') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Félicitations </strong>{{ delete }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
{% endfor %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Type Catégories</th>
                    <th scope="col">Création</th>
                    <th scope="col">Modification</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for list in categoriesList %}
                    <tr>
                        <th scope="row">{{ list.id}}</th>
                        <td>{{ list.nom}}</td>
                        <td>{{ list.typecategories.nom}}</td>  
                        <td>{{ list.createdAt|date('d/m/Y à H:i:s')}}</td>
                        <td>{{ list.updatedAt|date('d/m/Y à H:i:s')}}</td> 
                        <td><a href="{{ path ('categories_modifier', { id : list.id })}}" class="btn btn-light border border-dark" >Modifier</a></td>
                        <td><a href="{{ path ('categories_delete', { id : list.id })}}"  onclick ="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?')"class="btn btn-light border border-dark" >Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end my-5">
            <a href="{{path ('categories_ajout')}}" class="btn btn-light border border-dark" >Ajouter une catégorie</a>
        </div>
{% endblock %}

