{% extends 'base.html.twig' %}
{% form_theme categoriesModifier 'bootstrap_5_layout.html.twig' %}

{% block title %}Ajouter type de catégorie | La Maison de Laine{% endblock %}

{% block body %}
    <div class="mt-1 d-flex justify-content-center align-items-center flex-column"> 
        <h1 class="text-center mt-4">Modifier la catégorie</h1>
        <div class="col-7">
            {{form_start(categoriesModifier)}}
                {{form_row(categoriesModifier.nom)}}
                {{form_row(categoriesModifier.typeCategories)}}
                {{form_row(categoriesModifier.imageFile)}}

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-light">Modifier</button>
                </div>
            {{form_end(categoriesModifier)}}
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="container-fluid p-0 m-0 col-12">
        <footer class="col-12 p-0">
            <article id="icon">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram-square fa-2x"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x"></i></a>
            </article>
            <article class="mb-3 d-flex">
                <a class="text-center m-2" href="#" id="copyright">Copyright © 2021</a><span class="pipe mt-4">|</span> 
                <a  class="text-center m-2" id="copyright" href="#">La Maison de Laine</a><span class="pipe mt-4">|</span> 
                <a class="text-center m-2" href="{{path ('mentions_legales')}}" id="copyright">Mentions Légales</a> <span class="pipe mt-4">|</span>
                <a class="text-center m-2" href="{{path ('ccv')}}" id="copyright">CCV</a>  
            </article>
        </footer>
    </div>
    {% endblock %}

