{% extends 'base.html.twig' %}
{% form_theme articlesModifier 'bootstrap_5_layout.html.twig' %}

{% block title %}Modifier l'article | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono{% endblock %}

{% block body %}
    <div class="mt-1 d-flex justify-content-center align-items-center flex-column"> 
        <h1 class="text-center my-5">Modifier l'article</h1>
        <div class="col-7">
            {{form_start(articlesModifier)}}
                {{form_row(articlesModifier.article)}}
                {{form_row(articlesModifier.couleur)}}
                {{form_row(articlesModifier.description)}}
                {{form_row(articlesModifier.prix)}}
                {{form_row(articlesModifier.stock)}}
                {{form_row(articlesModifier.categories)}}
                {{form_row(articlesModifier.imageFile)}}

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-light mb-4">Modifier</button>
                </div>
            {{form_end(articlesModifier)}}
        </div>
    </div>
{% endblock %}