{% extends 'base.html.twig' %}
{% form_theme articlesModifier 'bootstrap_5_layout.html.twig' %}

{% block title %}Ajouter type de catégorie{% endblock %}

{% block body %}

        <div  class="mt-1 "> 
            <h1 class="text-center mt-4">Ajouter un article</h1>
            {{ form_start(articlesModifier) }}
                 {{ form_row(articlesModifier.article) }}
                {{ form_row(articlesModifier.couleur) }}
                {{ form_row(articlesModifier.description) }}
                {{ form_row(articlesModifier.prix) }}
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn border-dark">Modifier</button>
                </div>
            {{ form_end(articlesModifier)}}
        </div>
{% endblock %}

