{% extends 'base.html.twig' %}
{% block css %} <link rel="stylesheet" href="{{asset ('../css/contact.css')}}" />{% endblock %} 
{% form_theme formContact 'bootstrap_5_layout.html.twig' %}

{% block title %}Contact | La Maison de Laine{% endblock %}

{% block body %}
  <div class="row m-0">
    <h1 class="text-center my-5">Formulaire de Contact !</h1> 
    {% for contact in app.flashes('contact_sent') %}
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Félicitations </strong>{{ contact }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
      </div>
    {% endfor %}
    <section class="d-flex mb-5 justify-content-center justify-content-xxl-between justify-content-xl-between">
      <img src="{{asset ('images/la_maison_de_laine_ordi_Pavel_Danilyuk.jpg')}}" alt="Image de Contact | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono" class="shadow p-0 rounded-3 col-xl-5 col-sm-6  col-12 d-none d-md-none d-xl-block d-xxl-block"/>
      <div class="d-flex flex-column col-xl-6 col-md-9 col-12">
        {{form_start(formContact)}}
          {{form_row(formContact.nom)}}
          {{form_row(formContact.prenom)}}
          {{form_row(formContact.email)}}
          {{form_row(formContact.sujet)}}
          {{form_row(formContact.message)}}
          <div class="d-flex justify-content-end">
            <button class="btn btn-light" type="submit">Envoyer</button>
          </div>
        {{form_end(formContact)}}
      </div>
    </section>
  </div>
{% endblock %}