{% extends 'base.html.twig' %}
{% block css %} <link rel="stylesheet" href="{{asset ('../css/contact.css ')}}" />{% endblock %} 
{% form_theme formContact 'bootstrap_5_layout.html.twig' %}


{% block title %}Contact{% endblock %}

{% block body %}
  <h1 class="text-center my-5"> Formulaire de Contact ! </h1> 
  {% for contact in app.flashes('contact_sent') %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong>Félicitations </strong>{{ contact }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
  {% endfor %}
  <section class="d-flex  justify-content-between">

  <img src="{{asset('images/ordi_Pavel_Danilyuk.jpg')}}" alt="contact" style="width : 45%" class="rounded-3" />

  <div class="d-flex flex-column" style="width : 50%">
    {{form_start(formContact)}}
    {{form_row(formContact.email)}}
    {{form_row(formContact.sujet)}}
    {{form_row(formContact.message)}}

    <div class="d-flex justify-content-end">
      <button class="btn border border-dark " type="submit">Envoyer </button>
    </div>
  </div>

  {{form_end(formContact)}}

  </section>
{% endblock %}
{% block footer %}
    {# Footer  #}
  <footer class="fixed-bottom">
    <article id="icon">
   <article id="icon">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x"></i></a>
        </article>
        <article class="mb-3">
            <a  href="#"  id="copyright"> Copyright © 2021 </a> <span class="pipe"> |</span> 
            <a  id="copyright" href="#"> La Maison de Laine</a>  <span class="pipe"> |</span> 
            <a href="{{path ('mentions_legales')}}"  id="copyright"> Mentions Légales</a>  
        </article>
  </footer>
    {# END Footer  #}
{% endblock %}