{% extends 'base.html.twig' %}
{% block css %}<link rel="stylesheet" href="{{asset ('css/contact.css')}}"/>{% endblock %}
{% form_theme formContact 'bootstrap_5_layout.html.twig' %}

{% block title %}Contact | La Maison de Laine{% endblock %}

{% block body %}
  <div class="row m-0 d-flex justify-content-center">
    <h1 class="text-center mt-5">Formulaire de Contact !</h1> 
    <div class="d-flex flex-column justify-content-center col-xl-9 col-xl-6 col-md-9 col-12 pt-2">
        {{form_start(formContact)}}
          <div class="input-nom champs positionAbsolue col-xxl-5 col-xl-6 col-lg-8 col-md-9 col-10 mb-2">
            <i class="fas fa-user"></i>
            {{form_row(formContact.nom)}}
            <i class="fas fa-arrow-down">
              <small>Suivant</small>
            </i>
          </div>
          <div class="input-prenom innactive champs positionAbsolue col-xxl-5 col-xl-6 col-lg-8 col-md-9 col-10 mb-2">
            <i class="fas up fa-user"></i>
            {{form_row(formContact.prenom)}}
            <i class="fas fa-arrow-down">
              <small>Suivant</small>
            </i>
          </div>
          <div class="input-email innactive champs positionAbsolue col-xxl-5 col-xl-6 col-lg-8col-md-9 col-10 mb-2">
            <i class="fas up fa-at"></i> 
            {{form_row(formContact.email)}}
            <i class="fas fa-arrow-down">
              <small>Suivant</small>
            </i>
          </div>
          <div class="input-sujet innactive champs positionAbsolue col-xxl-5 col-xl-6 col-lg-8 col-md-9 col-10 mb-2">
            <i class="fas up fa-comment"></i>
            {{form_row(formContact.sujet)}}
            <i class="fas fa-arrow-down">
              <small>Suivant</small>
            </i>
          </div>
          <div class="input-message innactive champs positionAbsolue col-xxl-5 col-xl-6 col-lg-8 col-md-9 col-10 mb-2">
            <i class="fas up fa-envelope"></i>
            {{form_row(formContact.message)}}
            <i class="fas fa-arrow-down">
              <small>Suivant</small>
            </i>
          </div>
          <div class="d-flex justify-content-end col-11 mt-2">
            <button class="btn btn-light mb-5 mt-2 visibility" type="submit">Envoyer</button>
          </div>
        {{form_end(formContact)}}
    </div>
  </div>
{% endblock %}