{% extends 'base.html.twig' %}
{% form_theme categoriesAjout 'bootstrap_5_layout.html.twig' %}

{% block title %}Ajouter une catégorie | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono{% endblock %}

{% block body %}
    <div class="mt-1 d-flex justify-content-center align-items-center flex-column"> 
        <h1 class="text-center my-5">Ajouter une catégorie</h1>
        <div class="col-7">
            {{form_start(categoriesAjout)}}
                {{form_row(categoriesAjout.nom)}}
                {{form_row(categoriesAjout.typeCategories)}}
                {{form_row(categoriesAjout.imageFile)}}

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-light mb-4">Ajouter</button>
                </div>
            {{form_end(categoriesAjout)}}
        </div>
    </div>
{% endblock %}