{% extends 'base.html.twig' %}

{% block title %}Liste des catégories | La Maison de Laine{% endblock %}

{% block body %}
    <div class="d-flex justify-content-end">
        <a href="{{path ('categories_ajout')}}" class="btn btn-light mt-4" style="width : auto !important">Ajouter une catégorie</a>
    </div>
    <div class="table-responsive d-flex justify-content-between flex-column my-5">
        <table class="table">
            <h1 class="text-center my-5">Liste des catégories</h1>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Type Catégorie</th>
                    <th scope="col">Création</th>
                    <th scope="col">Modification</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for list in categoriesList %}
                    <tr>
                        <th scope="row">{{list.id}}</th>
                        <td><img src="{{vich_uploader_asset(list , 'imageFile')}}" style="width : 60px"class="card-img-top" alt="Image de la Categorie | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono"></td>
                        <td>{{list.nom}}</td>
                        <td>{{list.typeCategories}}</td>  
                        <td>{{list.createdAt|date('d/m/Y à H:i:s')}}</td>
                        <td>{{list.updatedAt|date('d/m/Y à H:i:s')}}</td> 
                        <td><a href="{{path ('categories_modifier', {id : list.id})}}?csrf={{csrf_token('update' ~ list.id)}}" class="btn btn-light">Modifier</a></td>
                        <td><a href="{{path ('categories_delete', {id : list.id})}}?csrf={{csrf_token('delete' ~ list.id)}}" onclick ="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?')" class="btn btn-light">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="d-flex justify-content-end">
        <a href="{{path ('categories_ajout')}}" class="btn btn-light mb-4" style="width : auto !important">Ajouter une catégorie</a>
    </div>
{% endblock %}