{% extends 'base.html.twig' %}

{% block title %}Livraison list | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Liste des options de livraison</h1>

    <div class="d-flex justify-content-end my-5">
        <a href="{{path ('delivery_options_add')}}" class="btn btn-light" style="width : auto !important">Ajouter une option</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Logo </th>
                <th scope="col">Option</th>
                <th scope="col">Prix</th>
                <th scope="col">Délai</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for list in delivery_list %}
                <tr>
                    <th scope="row">{{ list.id}}</th>
                    <td><img src="{{ vich_uploader_asset(list , 'imageFile')}}" style="width : 60px"class="card-img-top" alt=" Image de l'option | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono"></td>
                    <td>{{list.options}}</td>
                    <td>{{list.price}}</td>
                    <td>{{list.delai}}</td>
                    <td><a href="{{path ('delivery_options_update', {id : list.id})}}?csrf={{csrf_token('update' ~ list.id)}}" class="btn btn-light">Modifier</a></td>
                    <td><a href="{{path ('delivery_options_delete', {id : list.id})}}?csrf={{csrf_token('delete' ~ list.id)}}" onclick ="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?')" class="btn btn-light">Supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-end my-5">
        <a href="{{path ('delivery_options_add')}}" class="btn btn-light" style="width : auto !important">Ajouter une option</a>
    </div>
{% endblock %}